<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>906768134773-m33o451tpda4gos3gt333v5cq0dc4v77.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.906768134773-m33o451tpda4gos3gt333v5cq0dc4v77</string>
	<key>API_KEY</key>
	<string>AIzaSyASKeiLwVH8rHtpAdg_xh4XkgjiGf3yDDw</string>
	<key>GCM_SENDER_ID</key>
	<string>906768134773</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.bzerre.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-9ed33</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-9ed33.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:906768134773:ios:f764c39fc869640b997e3c</string>
</dict>
</plist>